* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root, .app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Global font */
}